<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Dynamics | About Us</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">


<link rel="shortcut icon" href="/mainimages/SIT-Tumkur-Logo.png" type="image/x-icon" >
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">
<link rel="stylesheet"type="text/css" href="/css/custom.css">
<script type="text/javascript" src="/js/modernizr.js"></script>

</head>
<body id="page-top" class="politics_version">

<div id="preloader">
    <div id="main-ld">
        <div id="loader"></div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img class="img-fluid" src="BOSE.jpg" alt="" />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="/dynamics/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/project">Projects & Achievements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/recruitment">Recruitments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/team">Our Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/contactus">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="home" class="main-banner parallaxie" style="background: url('/mainimages/back.jpg')">
    <div class="heading">
        <h1>DYNAMICS</h1>
        <h3 class="cd-headline clip is-full-width">
            <span>About Us</span>
        </h3>
    </div>
</section>

<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">
                    <h2>Dynamics</h2>
                    <p> Dynamics, a Project-Oriented Community, is a multi-disciplinary technical group of CSE department in 	Siddaganga Institute of Technology which focuses on both hardware and software-based projects. Our motive is to help fellow engineers with their blooming project ideas in different tech domains.
</p>
                    <p>We conduct regular events and frequent hackathons to test the skills and ability of the students.</p>
					<p>We are gladly to announce the establishment of our new chapter in SIt, Tumkur:<a href="/dynamics/aboutus/rover"> Mars Society Chapter SIT</a></p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src="/mainimages/logo.jpeg" alt="" class="img-fluid img-rounded">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="" alt="" /></a>
            <div class="footer-center">
                <p class="footer-company-name"><h1><b>Dynamics (Project Oriented Community)</b></h1></p>
                <p class="footer-links">
                    <a href="/dynamics">Home</a>
                    <a href="/dynamics/aboutus">About US</a>
                    <a href="/dynamics/portfolio">Portfolio</a>
                    <a href="/dynamics/project">Projects & Achievements</a>
                    <a href="/dynamics/events">Events</a>
                    <a href="/dynamics/recruitment">Recruitments</a>
                    <a href="/dynamics/team">Our Team</a>
                    <a href="/dynamics/contactus">Contact Us</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2020  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>


<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>


<script type="text/javascript" src="/js/all.js"></script>
<script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/parallaxie.js"></script>
<script type="text/javascript" src="/js/headline.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="/js/contact_me.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/jquery.vide.js"></script>

</body>
</html>