<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Dynamics | Contact Us</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="/mainimages/SIT-Tumkur-Logo.png" type="image/x-icon" >
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/style.css">
<link type="text/css" rel="stylesheet" href="/css/responsive.css">
<link type="text/css" rel="stylesheet" href="/css/custom.css">
<script type="text/javascript" src="/js/modernizr.js"></script>

</head>
<body id="page-top" class="politics_version">

<div id="preloader">
    <div id="main-ld">
        <div id="loader"></div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img class="img-fluid" src="BOSE.jpg" alt="" />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/project">Projects & Achievements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/recruitment">Recruitments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/team">Our Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="/dynamics/contactus">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<section id="home" class="main-banner parallaxie" style="background: url('/mainimages/contactus.jpg')">
    <div class="heading">
        <h1>DYNAMICS</h1>
        <h3 class="cd-headline clip is-full-width">
            <span>Contact Us </span>
        </h3>
    </div>
</section>

<div id="blog" class="section lb">
    <div class="container">
       <div class="section-title text-center">
           <h3>Contacts</h3>
           <p></p>
       </div>

        <div class="row">
			<div class="col-md-4 col-sm-6 col-lg-4">
				<div class="post-box">
					<div class="post-info">
						<h4>Dynamics POC Official Mail</h4>
						<ul>
							<b>Email: </b><li><a href="#"><b>dynamicspoc19.sit@gmail.com</b></a></li>
						</ul>
						<p></p>
					</div>
				</div>
			</div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Akash Ranjan Das</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>akashranjandas18cs@sit.ac.in</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Debjit Bhadra</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>debjitreso2017@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Aman Jaiswal</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>jaiswalaman97@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Siri A M</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>meemusiri@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Kushala R</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>seekushala.r@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Naveen T Acharya</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>naveentacharya246@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Siddhart G L</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>siddharth7846@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Khalid Farooq</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>wandererkhalid@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Anoop Kumar SS</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>anoopshavi55@gmail.com </b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Swaroop R K</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>swarooprk2000@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Akanksha Srivatava</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>akankshasrivastava18cs@sit.ac.in</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Rakshita B</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>rakshitabantwal1@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Vishnu Teja S</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>vishnuteja2424@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Sai Rakshith A M S</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>rakshith2305.sr@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Subramanya G</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>subramanyag9112@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Prerna R Shetty</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>shettyprerana3@gmail.com </b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Srijan Chandrakar</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>srijanchandrakar10@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>K V Niranjan Sharma</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>kvnsharma20@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Lokashree B</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>lokashree1510@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Keerthana Bidare</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>keerbidare2001@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-info">
                        <h4>Sagnik Kundu</h4>
                        <ul>
                            <b>Email: </b><li><a href="#"><b>sagnik2751@gmail.com</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="contact" class="section db">
    <div class="container">
        <div class="section-title text-center">
            <h3>Contact Us</h3>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="contact_form">
                    <form id="contactForm" name="sentMessage" th:action="@{/dynamics/contactus}" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="fullName" id="fullName" class="form-control" placeholder="Your Name *"  >
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" placeholder="Your Email *" >
                                </div>
                                <div class="form-group">
                                    <input type="tel" name="phone" id="phone" class="form-control" placeholder="Your Phone *" >
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" name="message" id="message" placeholder="Your Message *"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 text-center">
                                <input id="sendMessageButton" class="sim-btn hvr-bounce-to-top" type="submit" value="Send Message"></input>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="" alt="" /></a>
            <div class="footer-center">
                <p class="footer-company-name"><h1><b>Dynamics (Project Oriented Community)</b></h1></p>
                <p class="footer-links">
                    <a href="/dynamics">Home</a>
                    <a href="/dynamics/aboutus">About US</a>
                    <a href="/dynamics/portfolio">Portfolio</a>
                    <a href="/dynamics/project">Projects & Achievements</a>
                    <a href="/dynamics/events">Events</a>
                    <a href="/dynamics/recruitment">Recruitments</a>
                    <a href="/dynamics/team">Our Team</a>
                    <a href="/dynamics/contactus">Contact Us</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2020  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>


<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>


<script type="text/javascript" src="/js/all.js"></script>
<script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/parallaxie.js"></script>
<script type="text/javascript" src="/js/headline.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<!--<script type="text/javascript" src="/js/contact_me.js"></script>-->
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/jquery.vide.js"></script>

</body>
</html>