<!DOCTYPE html>
<html lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
 
    <title>Dynamics Events | Hackathon</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="/mainimages/SIT-Tumkur-Logo.png" type="image/x-icon" >
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/style.css">
    <link type="text/css" rel="stylesheet" href="/css/responsive.css">
    <link type="text/css" rel="stylesheet" href="/css/custom.css">
    <link type="text/css" rel="stylesheet" href="/css/devfolio.css">
	<script type="text/javascript" src="/js/modernizr.js"></script>

</head>
<body id="page-top" class="politics_version">

    <div id="preloader">
        <div id="main-ld">
			<div id="loader"></div>  
		</div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
			<img class="img-fluid" src="BOSE.jpg" alt="" />
		</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger active" href="/dynamics">Dynamics</a>
              </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger active" href="#home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Registrtaion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#blog">Problem Statement</a>
            </li>
			<li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Sponsors</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	<section id="home" class="main-banner parallaxie" style="background: url('/mainimages/projects.jpg')">
		<div class="heading">
			<h1>HACKATHON EVENT NAME</h1>			
			<h3 class="cd-headline clip is-full-width">
				<span>"Theme" </span>
			</h3>
		</div>
	</section>

    <div id="about" class="section wb">
        <div class="container">	
            <div class="row">
                <div class="col-md-6">
                    <div class="message-box">                        
                        <h2>Hackathon name</h2>
                        <p></p>
						<p></p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="right-box-pro wow fadeIn">
                        <img src="/logo.jpeg" alt="" class="img-fluid img-rounded">
                    </div>
                </div>
            </div>
        </div>
    </div>
	
    
	
	<div id="portfolio" class="section lb">
		<div class="container">
			<div class="section-title text-center">
                <h3>Registration</h3>
                <p></p>
            </div>
			
			<div class="row">
				<div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="/mainimages/Q.jpg" class="img-fluid" alt="post-img" />
							<div class="date">
								<span>event date</span>
								<span></span>
							</div>
						</div>
						<div class="post-info">
							<h4>Theme 1</h4>
							<ul>
                                
                                <button id="devfolio-apply-now"><svg class="logo" xmlns="http://www.w3.org/2000/svg" fill="#fff"viewBox="0 0 115.46 123.46" style="height:24px;width:24px;margin-right:8px"><path d="M115.46 68a55.43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-10.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 13.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05 1.05.08 2.18.08 3.34z" /><path d="M110.93 55.87A55.43 55.43 0 0 1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 55.41 0 0 1 50.58 55.34z"/></svg>Apply with Devfolio</button>
                            </ul>
							<p></p>
						</div>
					</div>
                </div>
                
                <div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="/mainimages/Q.jpg" class="img-fluid" alt="post-img" />
							<div class="date">
								<span>event date</span>
								<span></span>
							</div>
						</div>
						<div class="post-info">
							<h4>Theme 3</h4>
							<ul>
                                
                                <button id="devfolio-apply-now1"><svg class="logo" xmlns="http://www.w3.org/2000/svg" fill="#fff"viewBox="0 0 115.46 123.46" style="height:24px;width:24px;margin-right:8px"><path d="M115.46 68a55.43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-10.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 13.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05 1.05.08 2.18.08 3.34z" /><path d="M110.93 55.87A55.43 55.43 0 0 1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 55.41 0 0 1 50.58 55.34z"/></svg>Apply with Devfolio</button>
                            </ul>
							<p></p>
						</div>
					</div>
                </div>
                
                <div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="/mainimages/Q.jpg" class="img-fluid" alt="post-img" />
							<div class="date">
								<span>event date</span>
								<span></span>
							</div>
						</div>
						<div class="post-info">
							<h4>Theme 3</h4>
							<ul>
                                
                                <button id="devfolio-apply-now2"><svg class="logo" xmlns="http://www.w3.org/2000/svg" fill="#fff"viewBox="0 0 115.46 123.46" style="height:24px;width:24px;margin-right:8px"><path d="M115.46 68a55.43 55.43 0 0 1-50.85 55.11S28.12 124 16 123a12.6 12.6 0 0 1-10.09-7.5 15.85 15.85 0 0 0 5.36 1.5c4 .34 10.72.51 20.13.51 13.82 0 28.84-.38 29-.38h.26a60.14 60.14 0 0 0 54.72-52.47c.05 1.05.08 2.18.08 3.34z" /><path d="M110.93 55.87A55.43 55.43 0 0 1 60.08 111s-36.48.92-48.58-.12C5 110.29.15 104.22 0 97.52l.2-83.84C.38 7 5.26.94 11.76.41c12.11-1 48.59.12 48.59.12a55.41 55.41 0 0 1 50.58 55.34z"/></svg>Apply with Devfolio</button>
                            </ul>
							<p></p>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
	
	
	<div id="blog" class="section lb">
		<div class="container">
			<div class="section-title text-center">
                <h3>Problem Statement</h3>
                <p></p>
            </div>
			
			<div class="row">
				<div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="/mainimages/Q.jpg" class="img-fluid" alt="post-img" />
							<div class="date">
								<span>problem statement 1</span>
								<span></span>
							</div>
						</div>
						<div class="post-info">
							<h4>Problem statement name</h4>
							<ul>
                                <li>Author</li><br>
                                <li>details
								</li><br>
                                <li><a href="https://docs.google.com/document/d/1WifM1LFUfJjCo85inrnAUEIcag4f5mipzWfDeSZQ-sk/edit?usp=sharing"><b>Download: Google drive link</b></a></li>
                            </ul>
							<p></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="/mainimages/Blog1.png" class="img-fluid" alt="post-img" />
							<div class="date">
								<span>problem statement 2</span>
								<span></span>
							</div>
						</div>
						<div class="post-info">
							<h4>Problem statement name</h4>
							<ul>
                                <li>Author name</li><br>
                                <li>
									details
								</li><br>
                                <li><a href="https://docs.google.com/document/d/1YbpTfGpjNV2keQXsVKWjlkHpfJ2UP39ruFVdkJDYupw/edit?usp=sharing"><b>Download: Google drive link</b></a></li>
                            </ul>
							<p></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-lg-4">
					<div class="post-box">
						<div class="post-thumb">
							<img src="/mainimages/Blog.jpeg" class="img-fluid" alt="post-img" />
							<div class="date">
								<span>problem statement 3</span>
								<span></span>
							</div>
						</div>
						<div class="post-info">
							<h4>Problem statement name</h4>
							<ul>
                                <li>Author name</li><br>
                                <li>
									details
								</li><br>
                                <li><a href="https://docs.google.com/document/d/14_MzBvi45hQkO13-W9W4slVibV1ysuCakECq8KlzIzA/edit?usp=sharing"><b>Download: Google drive link</b></a></li>
                            </ul>
							<p></p>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
    <div id="services" class="section lb">
        <div class="container">
           <div class="section-title text-center">
               <h3>Sponsors</h3>
               <p></p>
           </div>
    
            <div class="row">
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="post-box">
                        <div class="post-thumb">
                            <img src="/mainimages/devfolio.png" class="img-fluid" alt="post-img" />
    <!--                        <div class="date">-->
    <!--                            <span>2 April, 2020</span>-->
    <!--                            <span></span>-->
    <!--                        </div>-->
                        </div>
                        <div class="post-info">
                            <h4>Devfolio</h4>
                                <b></b><li>Visit: <a href="https://devfolio.co/home/"><b>Devfolio</b></a></li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-lg-4">
                    <div class="post-box">
                        <div class="post-thumb">
                            <img src="/mainimages/Blog.jpeg" class="img-fluid" alt="post-img" />

                        </div>
                        <div class="post-info">
                            <h4>Another sponsor</h4>
                            <ul>
                                <li><a href="#"><b></b></a></li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
    <!--            <div class="col-md-4 col-sm-6 col-lg-4">-->
    <!--                <div class="post-box">-->
    <!--                    <div class="post-thumb">-->
    <!--                        <img src="Blog.jpeg" class="img-fluid" alt="post-img" />-->
    <!--                        <div class="date">-->
    <!--                            <span>3 April, 2020</span>-->
    <!--                            <span></span>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="post-info">-->
    <!--                        <h4>Hyper Automation</h4>-->
    <!--                        <ul>-->
    <!--                            <li>by Debjit</li>-->
    <!--                            <li>-->
    <!--                                Hyper-automation “deals with the application of advanced technologies,-->
    <!--                                including AI and ML, to increasingly automate processes and augment humans.-->
    <!--                            </li>-->
    <!--                            <li><a href="#"><b>Source: Google</b></a></li>-->
    <!--                        </ul>-->
    <!--                        <p></p>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
            </div>
    
        </div>
    </div>
    <div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="" alt="" /></a>
            <div class="footer-center">
                <p class="footer-company-name"><h1><b>Dynamics (Project Oriented Community)</b></h1></p>
                <p class="footer-links">
                    <a href="/dynamics">Home</a>
                    <a href="/dynamics/aboutus">About US</a>
                    <a href="/dynamics/portfolio">Portfolio</a>
                    <a href="/dynamics/project">Projects & Achievements</a>
                    <a href="/dynamics/events">Events</a>
                    <a href="/dynamics/recruitment">Recruitments</a>
                    <a href="/dynamics/team">Our Team</a>
                    <a href="/dynamics/contactus">Contact Us</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2020  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>

    <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>

    
    <script type="text/javascript" src="/js/all.js"></script>
	<script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
	<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/js/parallaxie.js"></script>
	<script type="text/javascript" src="/js/headline.js"></script>
    <script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
    <script type="text/javascript" src="/js/contact_me.js"></script>
    <script type="text/javascript" src="/js/custom.js"></script>
    <script type="text/javascript" src="/js/jquery.vide.js"></script>
    <script type="text/javascript" src="/js/devfolio.js"></script>

</body>
</html>