<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Dynamics | Portfolio</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="/mainimages/SIT-Tumkur-Logo.png" type="image/x-icon" >
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">
<link rel="stylesheet"type="text/css" href="/css/custom.css">
<script type="text/javascript" src="/js/modernizr.js"></script>

</head>
<body id="page-top" class="politics_version">

<div id="preloader">
    <div id="main-ld">
        <div id="loader"></div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img class="img-fluid" src="BOSE.jpg" alt="" />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="/dynamics/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/project">Projects & Achievements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/recruitment">Recruitments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/team">Our Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/contactus">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="home" class="main-banner parallaxie">
    <div class="heading">
        <h1>DYNAMICS</h1>
        <h3 class="cd-headline clip is-full-width">
            <span>Portfolio</span>
        </h3>
    </div>
</section>

<div id="portfolio" class="section lb">
    <div class="container">
        <div class="gallery-menu row">
            <div class="col-md-12">
                <div class="button-group filter-button-group text-center">
                    <button class="active" data-filter="*">All</button>
                    <button data-filter=".gal_a">CS&AI</button>
                    <button data-filter=".gal_b">MECH&Design</button>
                    <button data-filter=".gal_c">Electrical Subsystems</button>
                </div>
            </div>
        </div>

        <div class="gallery-list row">
            <div class="col-md-4 col-sm-6 gallery-grid gal_a">
                <div class="gallery-single fix">
                    <img src="/mainimages/Final.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="/mainimages/Final.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 gallery-grid gal_b">
                <div class="gallery-single fix">
                    <img src="/mainimages/image1.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="/mainimages/image1.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 gallery-grid gal_b">
                <div class="gallery-single fix">
                    <img src="/mainimages/image3.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="/mainimages/image3.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
			<div class="col-md-4 col-sm-6 gallery-grid gal_b">
                <div class="gallery-single fix">
                    <img src="/mainimages/image5.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="/mainimages/image5.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_c gal_b">
                <div class="gallery-single fix">
                    <img src="/mainimages/Final1.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="/mainimages/Final1.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="" alt="" /></a>
            <div class="footer-center">
                <p class="footer-company-name"><h1><b>Dynamics (Project Oriented Community)</b></h1></p>
                <p class="footer-links">
                    <a href="/dynamics">Home</a>
                    <a href="/dynamics/aboutus">About US</a>
                    <a href="/dynamics/portfolio">Portfolio</a>
                    <a href="/dynamics/project">Projects & Achievements</a>
                    <a href="/dynamics/events">Events</a>
                    <a href="/dynamics/recruitment">Recruitments</a>
                    <a href="/dynamics/team">Our Team</a>
                    <a href="/dynamics/contactus">Contact Us</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2020  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>


<script type="text/javascript" src="/js/all.js"></script>
<script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/parallaxie.js"></script>
<script type="text/javascript" src="/js/headline.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="/js/contact_me.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/jquery.vide.js"></script>

</body>
</html>