<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Dynamics | Projects & Achievements</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="/mainimages/SIT-Tumkur-Logo.png" type="image/x-icon" >
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/style.css">
<link rel="stylesheet" type="text/css" href="/css/responsive.css">
<link rel="stylesheet"type="text/css" href="/css/custom.css">
<script type="text/javascript" src="/js/modernizr.js"></script>

</head>
<body id="page-top" class="politics_version">

<div id="preloader">
    <div id="main-ld">
        <div id="loader"></div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img class="img-fluid" src="BOSE.jpg" alt="" />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="/dynamics/project">Projects & Achievements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/recruitment">Recruitments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/team">Our Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/contactus">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="home" class="main-banner parallaxie" style="background: url('/mainimages/projects.jpg')">
    <div class="heading">
        <h1>DYNAMICS</h1>
        <h3 class="cd-headline clip is-full-width">
            <span>Projects & Achievements </span>

        </h3>
    </div>
</section>


<div id="blog" class="section lb">
    <div class="container">
       <div class="section-title text-center">
           <h3>Projects</h3>
           <p></p>
       </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-thumb">
                        <img src="/mainimages/BOSE1.jpg" class="img-fluid" alt="post-img" />
<!--                        <div class="date">-->
<!--                            <span>2 April, 2020</span>-->
<!--                            <span></span>-->
<!--                        </div>-->
                    </div>
                    <div class="post-info">
                        <h4>ROVER BOSE</h4>
                        <ul>
<!--                            <li>by Akash</li>-->
<!--                            <li>The company says that its quantum computer is the first to perform a calculation-->
<!--                                that would be practically impossible for a classical machine.-->
<!--                            </li>-->
                            <b></b><li><a href="/dynamics/project"><b></b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
<!--            <div class="col-md-4 col-sm-6 col-lg-4">-->
<!--                <div class="post-box">-->
<!--                    <div class="post-thumb">-->
<!--                        <img src="Blog.jpeg" class="img-fluid" alt="post-img" />-->
<!--                        <div class="date">-->
<!--                            <span>3 April, 2020</span>-->
<!--                            <span></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="post-info">-->
<!--                        <h4>Hyper Automation</h4>-->
<!--                        <ul>-->
<!--                            <li>by Debjit</li>-->
<!--                            <li>-->
<!--                                Hyper-automation “deals with the application of advanced technologies,-->
<!--                                including AI and ML, to increasingly automate processes and augment humans.-->
<!--                            </li>-->
<!--                            <li><a href="#"><b>Source: Google</b></a></li>-->
<!--                        </ul>-->
<!--                        <p></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>

    </div>
</div>
<!--Achievements-->
<div id="blog" class="section lb">
    <div class="container">
       <div class="section-title text-center">
           <h3>Achievements</h3>
           <p></p>
       </div>

        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-thumb">
                        <img src="/mainimages/imh.jpeg" class="img-fluid" alt="post-img" />
<!--                        <div class="date">-->
<!--                            <span>2 April, 2020</span>-->
<!--                            <span></span>-->
<!--                        </div>-->
                    </div>
                    <div class="post-info">
                        <h4>International Mars Hackathon</h4>
                        <ul>
<!--                            <li>by Akash</li>-->
                           <li>
                            International Mars Hackathon, challenges teams from diverse disciplines to come up with insightful solutions to mind-boggling Space Exploration problems! The 48-hr competition requires students to think on their feet and devise creative approaches in several thematic areas. 
                           </li>
                            <b>Vist: </b><li><a href="https://www.instagram.com/p/CHdIyRbJlGb/?igshid=18t70b68xddjll"><b>IMH Results (International Rank: 22)</b></a></li><br>
                            <b>Vist: </b><li><a href="https://drive.google.com/file/d/1-490fMa37FF2kmrmXKk5Uz32qlx17hvC/view?usp=sharing"><b>IMH Presentation</b></a></li><br>
                            <b>Team Members: </b><li><a href="/dynamics/project"><b>Debjit Bhadra, Srijan Chandrakar, Debjyoti Mazumdar, Sagnik Kundu, Suvigya Anand Sinha</b></a></li>
                        </ul>
                        <p></p>
                    </div>
                </div>
            </div>
<!--            <div class="col-md-4 col-sm-6 col-lg-4">-->
<!--                <div class="post-box">-->
<!--                    <div class="post-thumb">-->
<!--                        <img src="Blog.jpeg" class="img-fluid" alt="post-img" />-->
<!--                        <div class="date">-->
<!--                            <span>3 April, 2020</span>-->
<!--                            <span></span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="post-info">-->
<!--                        <h4>Hyper Automation</h4>-->
<!--                        <ul>-->
<!--                            <li>by Debjit</li>-->
<!--                            <li>-->
<!--                                Hyper-automation “deals with the application of advanced technologies,-->
<!--                                including AI and ML, to increasingly automate processes and augment humans.-->
<!--                            </li>-->
<!--                            <li><a href="#"><b>Source: Google</b></a></li>-->
<!--                        </ul>-->
<!--                        <p></p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>

    </div>
</div>

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="" alt="" /></a>
            <div class="footer-center">
                <p class="footer-company-name"><h1><b>Dynamics (Project Oriented Community)</b></h1></p>
                <p class="footer-links">
                    <a href="/dynamics">Home</a>
                    <a href="/dynamics/aboutus">About US</a>
                    <a href="/dynamics/portfolio">Portfolio</a>
                    <a href="/dynamics/project">Projects & Achievements</a>
                    <a href="/dynamics/events">Events</a>
                    <a href="/dynamics/recruitment">Recruitments</a>
                    <a href="/dynamics/team">Our Team</a>
                    <a href="/dynamics/contactus">Contact Us</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2020  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>


<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>


<script type="text/javascript" src="/js/all.js"></script>
<script type="text/javascript" src="/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/parallaxie.js"></script>
<script type="text/javascript" src="/js/headline.js"></script>
<script type="text/javascript" src="/js/jqBootstrapValidation.js"></script>
<script type="text/javascript" src="/js/contact_me.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/jquery.vide.js"></script>
</body>
</html>