<!DOCTYPE html>
<html lang="en">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Dynamics | Our Team</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content="">

<link rel="shortcut icon" href="/mainimages/SIT-Tumkur-Logo.png" type="image/x-icon" >
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="/style.css">
<link type="text/css" rel="stylesheet" href="/css/responsive.css">
<link type="text/css" rel="stylesheet" href="/css/custom.css">
<script type="text/javascript" src="/js/modernizr.js"></script>

</head>
<body id="page-top" class="politics_version">

<div id="preloader">
    <div id="main-ld">
        <div id="loader"></div>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img class="img-fluid" src="BOSE.jpg" alt="" />
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/aboutus">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/project">Projects & Achievements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/recruitment">Recruitments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="/dynamics/team">Our Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/dynamics/contactus">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="home" class="main-banner parallaxie" style="background: url('/mainimages/team.jpg')">
    <div class="heading">
        <h1>DYNAMICS</h1>
        <h3 class="cd-headline clip is-full-width">
            <span>Team</span>
        </h3>
    </div>
</section>


<div id="team" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Mam.jpeg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Dr. Sunitha. N R</h3>
                        <span class="post">Professor CSE</span>
                        <span class="post">Faculty Coordinator</span>
                        <ul class="social">

                            <li><a href="http://sit.irins.org/profile/90839" class="fa fa-user"></a></li>
                            <li><a href="https://www.linkedin.com/in/sunitha-n-r-23a77062" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Akash.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Akash Ranjan Das</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Founder & President</span>
                        <ul class="social">
                            <li><a href="https://www.linkedin.com/in/akashranjan-das-8a5370169/" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/akashdecoder" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Debjit.jpeg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Debjit Bhadra</h3>
                        <span class="post">EIE Third</span>
                        <span class="post">Co - Founder & Vice President</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/debjit-bhadra-1878a6191/" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/DebjitBhadra" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Srijan.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Srijan Chandrakar</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Co - Founder</span>
                        <ul class="social">
                            <li><a href="#" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/srijanchandrakar" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Aman.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Aman Jaiswal</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Co - Founder</span>
                        <span class="post">Founding Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/aman-jaiswal-27232617b" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/imamanjaiswal" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Subra.png">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Subramanya G</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Core Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/subramanya-g-774400185" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/subramanya9112" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Prerna.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Prerna R Shetty</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Core Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/prerana-shetty-26a987192" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/preranashetty" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Siri.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Siri A M</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Core Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/siri-ayanur-544a19190/" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/Siriayanur" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Kushala.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Kushala R</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Core Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/kushala-r-471653191" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/Kushala-R" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Keerthana Bidare.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Keerthana Bidare</h3>
                        <span class="post">ECE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/keerthana-s-bidare-18778b167" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/keerbidare" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Niranjan.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Niranjan Sharma</h3>
                        <span class="post">EIE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/niranjan-sharma-a937341a2" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/Niranjansharma105" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/naveen.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Naveen T Acharya</h3>
                        <span class="post">EIE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/naveen-t-1599a31a2" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/NaveenTacharya" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Siddhart.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Siddhart Roy</h3>
                        <span class="post">EIE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">
                            <li><a href="https://www.linkedin.com/in/siddharth-siddu-4875951a2/" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/thegeekboyy" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/gagana.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Gagana N</h3>
                        <span class="post">EIE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/gagana-n-7787281a2" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/gagana93" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/lokashree.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Lokashree B</h3>
                        <span class="post">EIE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/lokashree-basavaraju-06a5831a2/" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/LOKASHREE1510" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Khalid.jpeg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Khalid Farooq</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/khalid-farooq-886990173/" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/khalidfarooq" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Anoop.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Anoop Kumar SS</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/anoop-kumar-s-s-840622175" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/anoopkumar1223" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Swaroop.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Swaroop RK</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/swaroop-rk-b1586317a" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/swarooprk7" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/akanksha.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Akanksha Srivastava</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/akanksha-srivastava-44874a166/" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/akankshasrivastava-98" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/rakshita.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Rakshita B</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="#" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/rakshita-b" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Khalid.png">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Sai Rakshith A M S</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="#" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/sairakshith2305" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
			<div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Teja.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Vishnu Teja S</h3>
                        <span class="post">CSE Third</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/vishnu-sreedhar-702455192" class="fa fa-linkedin"></a></li>
                            <li><a href="https://github.com/vishnuteja2424/" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
			
			
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="/mainimages/Sagnik.jpg">
                    </div>
                    <div class="team-content">
                        <h3 class="title">Sagnik Kundu</h3>
                        <span class="post">MECH Second</span>
                        <span class="post">Member</span>
                        <ul class="social">

                            <li><a href="https://www.linkedin.com/in/sagnik-kundu-7143321a6" class="fa fa-linkedin"></a></li>
                            <li><a href="" class="fa fa-github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
			
        </div>
    </div>
</div>

<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <a href="#"><img src="" alt="" /></a>
            <div class="footer-center">
                <p class="footer-company-name"><h1><b>Dynamics (Project Oriented Community)</b></h1></p>
                <p class="footer-links">
                    <a href="/dynamics">Home</a>
                    <a href="/dynamics/aboutus">About US</a>
                    <a href="/dynamics/portfolio">Portfolio</a>
                    <a href="/dynamics/project">Projects & Achievements</a>
                    <a href="/dynamics/events">Events</a>
                    <a href="/dynamics/recruitment">Recruitments</a>
                    <a href="/dynamics/team">Our Team</a>
                    <a href="/dynamics/contactus">Contact Us</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2020  <a href="http://sit.ac.in/html/home.html">Siddaganga Institute of Technology</a></p>
            </div>
        </div>
    </div>
</div>

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>


<script type="text/javascript" src="/js/all.js"></script>
<script type="text/javascript"  src="/js/jquery.mobile.customized.min.js"></script>
<script type="text/javascript"  src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript"  src="/js/parallaxie.js"></script>
<script type="text/javascript"  src="/js/headline.js"></script>
<script type="text/javascript"  src="/js/jqBootstrapValidation.js"></script>
<script type="text/javascript"  src="/js/contact_me.js"></script>
<script type="text/javascript"  src="/js/custom.js"></script>
<script type="text/javascript"  src="/js/jquery.vide.js"></script>

</body>
</html>
